# Windows metadata
Thumbs.db
Desktop.ini

# Visual Studio / .NET
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.slnx

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# SSIS / SSDT / Data Tools
*.dtproj.user
bin/
obj/
